*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styling the div */
.App{
    background-color: wheat;
    width: 80%;
   display: block;
   margin: auto;
   text-align: center;
   
  }